* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside{
  position: fixed;
  border-right-width: 1px; 
  border-right-color: rgba(0, 173, 238, 0.4);
  border-right-style: solid;
  height: 100%;
  width: 200px;
}

aside > img{
  width: 120px;
  margin-left: 40px;
  margin-right: 40px;
}

main{
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

nav li{
  text-align: center;
  text-transform: uppercase;
  border-bottom: rgba(0, 173, 238, 0.4) 1px solid;
  width: 80%;
  margin-left: 10%;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav li a{
  font-weight: bold;
  color: #00ADEE;
  text-decoration: none;
}

nav ul li:first-child{
  text-decoration: underline;
  color: #00ADEE; /*Needed this to make the underline blue*/
}

header img{
  height: 100px;
  padding-bottom: 10px;
}

#placeholder img{
  width: 100%;
}

section div{
  display: inline-block;
  width: 33%;
}

section div h2{
  color: #8CC36F;
}

h2 i{
  margin-right: 5px;
}

div#our-work{
  border-right: 1px;
  border-right-color: rgba(170, 239, 135, 0.8);
  border-right-style: solid;
} 

div#what-we-do{
  border-right: 1.5px;
  border-right-color: rgba(170, 239, 135, 0.8);
  border-right-style: solid;
} 

div#what-we-do, div#our-work, div#contact-us{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}